
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "fadeIn second", placeholder: "me@myaccount.com" %><br/>
  </div>
  <div>
    <%= f.password_field :password, autocomplete: "current-password", class: "fadeIn third", placeholder: "Password" %><br/>
  </div>
  <% if devise_mapping.rememberable? %>
    <div>
      <%= f.label "Remember me", for: :remember_me %><%= f.check_box :remember_me, class: "fadeIn fourth" %><br/>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Log in", class: "fadeIn fifth" %>
  </div>
<% end %>
