<!DOCTYPE html>
<html>
<head>
  <title>Aeromanager models</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "aeromanager_models/application", media: "all" %>
  <%= javascript_include_tag "aeromanager_models/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
