<div class="container">
  <h1>Uso en horas por avion</h1>
  <table class="table striped" style="width: 50%">
    <tr>
      <th>Fecha</th>
      <th>Desde</th>
      <th>Hasta</th>
      <th>Tiempo de vuelo</th>
      <th>Piloto</th>
      <th>Instructor</th>
      <th>Licencia</th>
      <th>Despegue</th>
      <th>Aterrizaje</th>
      <th>Fin del vuelo</th>
      <th>Odometro Inicial</th>
      <th>Odometro Final</th>
    </tr>
    <%= total = 0 %>
    <% report.each do  |row| %>
      <tr>
        <td><%= row[:flight_date] %></td>
        <td><%= row[:origin_airport] %></td>
        <td><%= row[:destination_airport] %></td>
        <td><%= row[:flight_duration] %></td>
        <td><%= row[:pilot] %></td>
        <td><%= row[:instructor] %></td>
        <td><%= row[:license] %></td>
        <td><%= row[:take_of_hour] %></td>
        <td><%= row[:landing_hour] %></td>
        <td><%= row[:flight_type] %></td>
        <td><%= row[:odo_start] %></td>
        <td><%= row[:odo_end] %></td>
      </tr>
      <%= total += row[:flight_duration] %>
    <% end %>
    <tr>
      <td colspan="3">Total Hours:</td>
      <td><%= total %></td>
      <td colspan="8">&nbsp;</td>
  </table>
</div>
