<style>
  .table {
    border: 1px solid gray;
    border-collapse: collapse;
  }
  .table tr, td, th {
    border: 1px solid gray;
  }
  .report-title {
    font-size: 18pt;
    font-weight: bold;
    padding: 10pt;
  }
  .report-header {
    font-size: 14pt;
    font-weight: bold;
    padding: 5pt;
  }
</style>
<div class="container">
  <h1 class="report-title">Uso en horas por avion</h1>
  <h3 class="report-header"> Avion: <%= plane_identifier %>
  <table class="table striped" style="width: 95%; padding-top: 10pt;">
    <tr>
      <th>Fecha</th>
      <th>Desde</th>
      <th>Hasta</th>
      <th>Tiempo de vuelo</th>
      <th>Piloto</th>
      <th>Instructor</th>
      <th>Licencia</th>
      <th>Despegue</th>
      <th>Aterrizaje</th>
      <th>Fin del vuelo</th>
      <th>Odometro Inicial</th>
      <th>Odometro Final</th>
      <th>Remanente de <%= last_maintenance %></th>
    </tr>
    <% total = 0 %>
    <% report.each do  |row| %>
      <tr>
        <td><%= row[:flight_date] %></td>
        <td><%= row[:origin_airport] %></td>
        <td><%= row[:destination_airport] %></td>
        <td><%= row[:flight_duration] %></td>
        <td><%= row[:pilot] %></td>
        <td><%= row[:instructor] %></td>
        <td><%= row[:license] %></td>
        <td><%= row[:take_off_hour] %></td>
        <td><%= row[:landing_hour] %></td>
        <td><%= row[:flight_type] %></td>
        <td><%= row[:odo_start] %></td>
        <td><%= row[:odo_end] %></td>
        <td><%= row[:remaining_hours] %></td>
      </tr>
      <% total += row[:flight_duration] %>
    <% end %>
    <tr>
      <td colspan="3">Total Hours:</td>
      <td><%= total %></td>
      <td colspan="8">&nbsp;</td>
  </table>
</div>
